.loader .loader__bar {
  animation: loading 2s cubic-bezier(0.17, 0.37, 0.43, 0.67) infinite;
}

@keyframes loading {

  0%,
  100% {
    transform: translateX(-30px);
  }

  50% {
    background-color: #f5634a;
    transform: translateX(30px);
    width: rem(25px);
  }
}