@keyframes loading {

  0%,
  100% {
    transform: translateX(-30px);
  }

  50% {
    background-color: #f5634a;
    transform: translateX(30px);
    width: rem(25px);
  }
}

.app__btn:hover svg {
  animation: hovering 2s linear infinite;
}


@keyframes hovering {

  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.3);
  }
}