.l- {
  &site-container {
    padding: rem(26px) rem(24px) 0 rem(24px);

    @include breakpoint-up(medium) {
      padding-top: rem(33px);
    }
  }

  &output-container {
    width: 100%;
    padding: 0 rem(20px);
  }

  &flex {
    display: flex;

    &--center {
      align-items: center;
      justify-content: center;
    }

    &--jc-sb {
      justify-content: space-between;
    }

    &--ai-c {
      align-items: center;
    }

    &--col {
      flex-direction: column;
    }

    &--lg-row {
      @include breakpoint-up(medium) {
        flex-direction: row;
      }
    }

    &--lg-ai-s {
      @include breakpoint-up(medium) {
        align-items: flex-start;
      }
    }
  }
}

.app {
  &__header {}

  &__form {
    margin-top: rem(29px);
    flex: 1 0 rem(58px);

    @include breakpoint-up(medium) {
      margin-top: rem(31px);
    }
  }

  &__search {
    flex-grow: 1;
  }

  &__btn {}
}

.output {
  margin-top: rem(24px);

  @include breakpoint-up(medium) {
    margin-top: rem(48px);
  }

  &__section {
    min-width: rem(200px);

    @include breakpoint-up(medium) {
      margin: 0 rem(10px);
      flex: 0 1 rem(213px);
    }

    &:not(:first-child) {
      margin-top: rem(24px);

      @include breakpoint-up(medium) {
        margin-top: 0;
      }
    }
  }

  &__flag {
    @include breakpoint-down(small) {
      margin: auto;
      margin-bottom: -10px;
    }
  }

  &__header {}

  &__text {
    margin-top: rem(7px);

    @include breakpoint-up(medium) {
      margin-top: rem(13px);
    }
  }
}

.map {
  flex-grow: 1;
}

.attribution {
  bottom: 2rem;
  position: fixed;
}