.app {
  &__header {
    font-weight: 500;
    font-size: rem(26px);
    line-height: calc(30 / 26);
    letter-spacing: rem(-0.232143px);
    color: #FFFFFF;
  }

  &__form {
    background: #FFFFFF;
    box-shadow: 0px rem(50px) rem(50px) rem(-25px) rgba(0, 0, 0, 0.0983665);
    border-radius: rem(15px);
    max-width: rem(550px);
    overflow: hidden;
  }

  &__search {
    font-size: rem(18px);
    line-height: calc(21 / 18);
    padding: rem(16px) 0 rem(16px) rem(24px);
    flex-grow: 1;

    &::placeholder {
      color: $lightGray;
      font-size: unquote("clamp(14px, 14px + (((100vw - 375px) / 55) * 4), 18px)");
    }
  }

  &__btn {
    background: #000000;
    padding: rem(20.5px) rem(23.5px);
    cursor: pointer;
    border: none;
  }
}