.app {
  background: url("/images/pattern-bg.png") no-repeat right -590px top/cover;
  height: rem(300px);
  width: 100%;
  z-index: 2;

  @include breakpoint-up(medium) {
    background-position: center;
    height: rem(280px);
  }

  &__header {
    color: #FFFFFF;
    font-size: rem(26px);
    font-weight: 500;
    letter-spacing: rem(-0.232143px);
    line-height: calc(30 / 26);

    @include breakpoint-up(medium) {
      font-size: rem(32px);
      line-height: calc(30 / 32);
    }
  }

  &__form {
    background-color: #fff;
    border-radius: rem(15px);
    box-shadow: 0px rem(50px) rem(50px) rem(-25px) rgba(0, 0, 0, 0.0983665);
    max-height: rem(58px);
    max-width: rem(550px);
    overflow: hidden;
    width: 100%;
  }

  &__search {
    font-size: rem(18px);
    line-height: calc(21 / 18);

    &::placeholder {
      color: $darkGray;
      font-size: unquote("clamp(14px, 14px + (((100vw - 375px) / 55) * 4), 18px)");
    }
  }

  &__btn {
    background: #000000;
  }
}

.output {
  background-color: #fff;
  border-radius: rem(15px);
  box-shadow: 0px rem(50px) rem(50px) rem(-25px) rgba(0, 0, 0, 0.0983665);
  line-height: calc(12/10);
  max-width: rem(1110px);
  position: relative;

  @include breakpoint-up(medium) {
    text-align: left;
  }

  &__list {
    &-is-collapsed {
      @include breakpoint-down(medium) {
        display: none;
      }

      &~.output__label {
        display: inline-block;
      }
    }

    &-is-loading {
      @include breakpoint-up(medium) {
        filter: blur(4px);

        &+.loader {
          background-color: white;
          border-radius: rem(10px);
          box-shadow: rem(10px) rem(10px) rem(26px) 0px rgba(0, 0, 0, 0.75);
          left: 50%;
          position: absolute;
          text-align: center;
          top: 50%;
          transform: translateX(-50%) translateY(-50%);
        }
      }
    }
  }

  &__header {
    color: $darkGray;
    font-size: rem(10px);
    font-weight: 700;
    letter-spacing: rem(1.45833px);
    text-transform: uppercase;

    @include breakpoint-up(medium) {
      font-size: rem(12px);
      letter-spacing: rem(1.75px);
      line-height: calc(14 / 12);
    }
  }

  &__text,
  &__label,
  .loader {
    font-size: rem(20px);
    font-weight: 500;
    letter-spacing: rem(-0.178571px);

    @include breakpoint-up(medium) {
      font-size: rem(26px);
      letter-spacing: rem(-0.232143px);
      line-height: calc(30 / 26);
    }
  }

  &__flag {
    background-repeat: no-repeat;
    background-size: contain;
    height: rem(20px);
    width: rem(40px);
  }

  &__label {
    display: none;
    position: relative;
    z-index: 2;
  }

  &__toggle {
    @include breakpoint-down(medium) {
      background-color: white;
      display: block;
      height: rem(24px);
      position: relative;
      width: rem(234.65px);

      &:hover .output__toggle:after {
        transform: scale(1.2) rotate(180deg);
      }

      &:active {
        margin-bottom: rem(20px);
        padding-top: rem(20px);
        transform: scale(1.2);
      }

      &:after {
        background-image: url("/images/icon-arrow-down.svg");
        background-repeat: no-repeat;
        content: '';
        height: rem(7px);
        position: absolute;
        transform: rotate(180deg);
        width: rem(10px);
      }
    }

    &-is-collapsed {
      &:after {
        transform: none;
      }

      &:active {
        margin-bottom: 0;
        padding-top: 0;
        transform: scale(1.2);
      }
    }

    // don't display for larger viewports
    display: none;
  }
}

.loader {
  // don't show by default
  display: none;
  width: rem(234.65px);

  &-is-loading {
    // show while loading
    display: block;

    &+.output__label {
      // don't show label while loading
      display: none;
    }

    &~.output__toggle {
      // don't show button while loading
      display: none;
    }
  }

  &__bar {
    background-color: #4b9cdb;
    border-radius: rem(2px);
    height: rem(6px);
    margin-left: auto;
    margin-right: auto;
    width: rem(15px);
  }
}

.map {
  width: 100%;
  z-index: 0;
}

.attribution {
  font-size: rem(11px);
  text-align: center;
  width: 100%;
  z-index: 1;

  & a {
    color: hsl(228, 45%, 44%);
  }
}