.app {
  background: url("/images/pattern-bg.png") no-repeat right -590px top/cover;
  width: 100%;
  height: rem(300px);
  z-index: 2;

  @include breakpoint-up(medium) {
    background-position: center;
    height: rem(280px);
  }

  &__header {
    font-weight: 500;
    font-size: rem(26px);
    line-height: calc(30 / 26);
    letter-spacing: rem(-0.232143px);
    color: #FFFFFF;

    @include breakpoint-up(medium) {
      font-size: rem(32px);
      line-height: calc(30 / 32);
    }
  }

  &__form {
    background-color: #fff;
    box-shadow: 0px rem(50px) rem(50px) rem(-25px) rgba(0, 0, 0, 0.0983665);
    border-radius: rem(15px);
    max-width: rem(550px);
    width: 100%;
    overflow: hidden;
  }

  &__search {
    font-size: rem(18px);
    line-height: calc(21 / 18);
    padding: rem(16px) 0 rem(16px) rem(24px);

    &::placeholder {
      color: $darkGray;
      font-size: unquote("clamp(14px, 14px + (((100vw - 375px) / 55) * 4), 18px)");
    }
  }

  &__btn {
    background: #000000;
    padding: rem(20.5px) rem(23.5px);
    cursor: pointer;
    border: none;
  }
}

.output {
  background-color: #fff;
  box-shadow: 0px rem(50px) rem(50px) rem(-25px) rgba(0, 0, 0, 0.0983665);
  border-radius: rem(15px);
  max-width: rem(1110px);
  padding: rem(26px) rem(24px) rem(24px) rem(24px);
  line-height: calc(12/10);

  @include breakpoint-up(medium) {
    padding: rem(37px) rem(22px);
    text-align: left;
  }

  &__header {
    color: $darkGray;
    letter-spacing: rem(1.45833px);
    text-transform: uppercase;
    font-size: rem(10px);
    font-weight: 700;

    @include breakpoint-up(medium) {
      font-size: rem(12px);
      line-height: calc(14 / 12);
      letter-spacing: rem(1.75px);
    }
  }

  &__text {
    font-weight: 500;
    font-size: rem(20px);
    letter-spacing: rem(-0.178571px);

    @include breakpoint-up(medium) {
      font-size: rem(26px);
      line-height: calc(30 / 26);
      letter-spacing: rem(-0.232143px);
    }
  }
}

.map {
  width: 100%;
  z-index: 0;
}

.attribution {
  font-size: rem(11px);
  text-align: center;
  z-index: 1;
  width: 100%;

  & a {
    color: hsl(228, 45%, 44%);
  }
}