.l- {
  &site-container {
    padding: rem(26px) rem(24px) 0 rem(24px);


    @include landscape(small) {
      padding-top: rem(5px);
    }

    @include breakpoint-up(medium) {
      padding-top: rem(33px);
    }
  }

  &output-container {
    padding: 0 rem(20px);
    width: 100%;

    @include landscape(small) {
      position: absolute;
      top: rem(95px);
    }
  }

  &flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    &--center {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
    }

    &--jc-sb {
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
    }

    &--ai-c {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
    }

    &--col {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
    }

    &--lg-row {
      @include breakpoint-up(medium) {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
      }
    }

    &--lg-ai-s {
      @include breakpoint-up(medium) {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
      }
    }
  }

  &grid {
    @include landscape(small) {
      &-1 {
        grid-area: r1c1;
      }

      &-2 {
        grid-area: r1c2;
      }

      &-3 {
        grid-area: r2c1;
      }

      &-4 {
        grid-area: r2c2;
      }
    }
  }
}

.app {
  &__form {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 rem(58px);
    flex: 1 0 rem(58px);
    margin-top: rem(29px);

    @include landscape(small) {
      margin-top: rem(5px);
    }

    @include breakpoint-up(medium) {
      margin-top: rem(31px);
    }
  }

  &__search {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding: rem(16px) 0 rem(16px) rem(24px);
  }

  &__btn {
    padding: rem(20.5px) rem(23.5px);
  }
}

.output {
  margin-top: rem(24px);
  padding: rem(26px) rem(24px) rem(10px) rem(24px);

  @include landscape(small) {
    margin-top: rem(5px);
    padding: rem(10px);
  }

  @include breakpoint-up(medium) {
    margin-top: rem(48px);
    padding: rem(37px) rem(32px);
  }

  &__location {
    flex-grow: 1;
  }

  &__list-is-collapsed {
    @include landscape(small) {
      & .output__flag {
        margin: 0;
      }

      & .output__text {
        margin: 0;
      }
    }
  }

  &__list-is-loading {
    &+.loader {
      padding-bottom: rem(10px);
      padding-top: rem(10px);
    }
  }

  &__section {
    min-width: rem(200px);

    @include breakpoint-up(medium) {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 rem(213px);
      flex: 0 1 rem(213px);
      margin: 0 rem(10px);
    }

    &:not(:first-child) {
      margin-top: rem(24px);

      @include landscape(small) {
        margin-top: 0;
      }

      @include breakpoint-up(medium) {
        margin-top: 0;
      }
    }
  }

  &__flag {
    @include breakpoint-down(small) {
      margin: auto;
      margin-bottom: rem(-10px);
    }
  }

  &__text {
    margin-top: rem(7px);

    @include breakpoint-up(medium) {
      margin-top: rem(13px);
    }
  }

  &__toggle {
    &-is-collapsed {
      margin-top: rem(10px);
    }
  }
}

.flag-container {
  align-items: flex-end;
  flex-wrap: wrap;

  >span {
    white-space: nowrap;
  }
}

.loader {
  &__bar {
    margin-top: 0.5rem;
  }
}

.map {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.attribution {
  bottom: 2rem;
  position: fixed;
}