.output {
  background-color: #fff;
  border-radius: rem(15px);
  box-shadow: 0px rem(50px) rem(50px) rem(-25px) rgba(0, 0, 0, 0.0983665);
  line-height: calc(12/10);
  max-width: rem(1110px);
  position: relative;
  transition: opacity 300ms ease-in-out;

  @include landscape(small) {
    width: 100%;
    -webkit-transition: all 500ms ease-in-out, padding 0ms ease-in-out;
    transition: all 500ms ease-in-out, padding 0ms ease-in-out;

    &-is-collapsed {
      width: rem(30px);
    }

    &.output-is-loading {
      width: auto;
    }
  }

  @include breakpoint-up(medium) {
    text-align: left;
  }

  &__list {
    max-height: rem(500px);
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: top;
    transform-origin: top;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;

    @include landscape(small) {
      display: grid;
      grid: "r1c1 r1c2"1fr "r2c1 r2c2"1fr / 1fr 1fr;
      transition-duration: 500ms;
    }

    &-is-collapsed {
      @include landscape(small) {
        & .out__flag {
          width: 0;
        }

        font-size: 0;
      }

      @include breakpoint-down(small) {
        max-height: rem(0);
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
      }

      &~.output__label {
        height: rem(24px);
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
      }
    }

    &-is-loading {
      @include breakpoint-up(medium) {
        -webkit-filter: blur(4px);
        filter: blur(4px);

        &+.loader {
          background-color: white;
          border-radius: rem(10px);
          box-shadow: rem(10px) rem(10px) rem(26px) 0px rgba(0, 0, 0, 0.75);
          height: rem(70px);
          left: 50%;
          position: absolute;
          text-align: center;
          top: 50%;
          -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
        }
      }
    }
  }

  &__header {
    color: $darkGray;
    font-size: rem(10px);
    font-weight: 700;
    letter-spacing: rem(1.45833px);
    text-transform: uppercase;

    @include breakpoint-up(medium) {
      font-size: rem(12px);
      letter-spacing: rem(1.75px);
      line-height: calc(14 / 12);
    }
  }

  &__text,
  &__label,
  .loader {
    font-size: rem(20px);
    font-weight: 500;
    letter-spacing: rem(-0.178571px);

    @include breakpoint-up(medium) {
      font-size: rem(26px);
      letter-spacing: rem(-0.232143px);
      line-height: calc(30 / 26);
    }
  }

  &__flag {
    background-repeat: no-repeat;
    background-size: contain;
    height: rem(20px);
    width: rem(40px);

    @include landscape(small) {
      -webkit-transition: all 500ms ease-in-out;
      transition: all 500ms ease-in-out;
    }
  }

  &__label {
    display: inline-block;
    height: 0;
    opacity: 0;
    position: relative;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    z-index: 2;

    // don't display for landscape viewports
    @include landscape(small) {
      display: none;
    }

    // don't display for larger viewports
    @include breakpoint-up(medium) {
      display: none;
    }
  }

  &__toggle {
    background-color: white;
    display: block;
    height: rem(24px);
    position: relative;
    transition: all 300ms ease-in-out;
    width: 50%;

    &:hover .output__toggle:after {
      transform: scale(1.2) rotate(180deg);
    }

    &:active {
      margin-bottom: rem(20px);
      padding-top: rem(20px);
      transform: scale(1.2);
    }

    &:after {
      background-image: url("/images/icon-arrow-down.svg");
      background-repeat: no-repeat;
      content: '';
      height: rem(7px);
      position: absolute;
      transform: rotate(180deg);
      width: rem(10px);
      transition: all 300ms ease-in-out;
    }

    &-is-collapsed {
      @include landscape(small) {
        height: rem(30px);
        width: rem(30px);
        border-radius: 50%;
      }

      &:after {
        transform: none;
      }

      &:active {
        margin-bottom: 0;
        padding-top: 0;
        transform: scale(1.2);
      }
    }

    // don't display for larger viewports

    @include breakpoint-up(medium) {
      display: none;
    }
  }
}